
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: Bastia;
  src: url("./bastia.otf") format("opentype");
}

@font-face {
  font-family: NewOrderBold;
  src: url("./no-bold.ttf") format("truetype");
}

@font-face {
  font-family: NewOrder;
  src: url("./no.ttf") format("truetype");
}

$yellow: #f4d920;
$red: #e30321;
$orange: #d65420;
$blue: #285161;

$bp: 991px;

body {
  background-color: $yellow;
}

img {
  width: 100%;
}

.cicc-lp {
  max-width: 1300px;
  margin: 0 auto;

  .people {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    img {
      width: 100%;
    }
  }

  .squares {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width: $bp) {
      grid-template-columns: 1fr;
    }
  }

  .square {
    aspect-ratio: 1;
    padding: 5em;
    display: flex;
    align-items: center;
    @media (max-width: $bp) {
      padding: 2em;
    }
  }

  .quote {
    color: $orange;
    font-family: Bastia;
    font-size: 3em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    line-height: 1.2em;

    img {
      max-width: 4em;
      margin-top: .5em;
    }
  }

  .form {
    font-family: NewOrder;
    color: $blue;
    padding: 3em 0;
    @media (max-width: $bp) {
      padding: 3em 1em;
    }

    h3 {
      text-align: center;
      font-size: 1.6em;
      line-height: 1.4em;
      margin-bottom: 1em;
    }

    #mc_embed_signup_scroll {
      .mc-field-group {
        @media (min-width: $bp) {
          width: 33%;
          float: left;
        }

        display: flex;
        justify-content: center;

        input {
          width: 90%;
          @media (max-width: $bp) {
            width: 100%;
          }
        }

      }
    }
    input {

      &[type="submit"] {
        background-color: $red;
        border: none;
        color: white;
        text-transform: uppercase;
        font-family: NewOrderBold;
        width: initial;
        float: right;
        margin-right: 4.4%;
        margin-top: 1em;
      }
    }

    .mc-field-group {
      display: grid;
      flex-direction: column;

    }

    input {
      padding: 1em;
      width: 100%;
    }
  }

  .text {
    font-family: NewOrder;
    color: $blue;
    font-size: 2em;
    line-height: 1.4em;

    strong {
      font-family: NewOrderBold;
    }

    h2 {
      font-size: 1.2em;
      font-family: NewOrderBold;
      margin-bottom: 1em;
    }
    a {
      color: $red;
      font-family: NewOrderBold;
      text-decoration: none;
    }
  }

  .cta {
    font-size: 3em;
    font-family: NewOrder;
    max-width: 7em;
    margin: 0 auto;
    color: $blue;
    line-height: 1.4em;

    a {
      position: relative;
      top: .7em;
    }

    strong {
      color: $red;
      font-family: NewOrderBold;
    }
  }

  .bg-pattern {
    background-image: url('./children.png');
    background-size: cover;
  }

  .bg-hands {
    background-image: url('./hands.png');
    background-size: cover;
  }
}
